<!DOCTYPE html>
<html>
  <head>
    <h1><%=link_to "ðŸ·KombuchaKatðŸ·", root_path %></h1>
    <!-- link_to takes in two args: string and path to redirect to when click on link -->
   <div class="product">
    <h2>Case of Kombucha for $25</h2>
   <div class="kombucha">
    <%= image_tag("ca.jpeg", alt: "all the kombucha") %>
    </div>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
